.job-details-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 20px;
}

.job-details-container h2 {
  color: #333;
}

.job-details-container p {
  margin: 10px 0;
}

.job-details-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.job-details-container button:hover {
  background-color: #0056b3;
}
